
.successful-change{
    color: #FF5722;
}
.alert-new-sale{
    background-color: #FF5722;
    color: #ffffff;
}
.page-heading{
    background-color: #FF5722;
    padding:10px;
    color: #FFFFFF;
    font-size: 16px;

}
.pay-period-container{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #BBDEFB;
}
.sale-entry-container{
    margin-top: 25px;
}