
.top-buffer{
    margin-top: 25px;
}
header{
    font-family: 'Roboto', sans-serif !important;
    font-size:24px;
    padding-top:50px;
    padding-bottom: 50px;
    text-align: left;
    background-color: #2196F3;
    color:#FFFFFF;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
}
.panel-primary-color{
    background-color: #2196F3;
}
.panel-light-color{
    background-color: #BBDEFB;
}
.panel-orange{
    border-color: #E63E09;
}
.panel-orange > .panel-heading{
    color: #ffffff;
    border-color: #E63E09;
    background-color: #FF5722;
}
.panel-darkblue{
    border-color: #005DB9;
}
.panel-darkblue .panel-heading{
    color: #ffffff;
    border-color: #005DB9;
    background-color: #1976D2;
}
.panel-darkblue .panel-title{
    font-family: 'Roboto', sans-serif;
}
.panel-darkblue .panel-body{
    font-family: 'Montserrat', sans-serif;
}
