
/*Navigation Bar Style*/
.navbar-custom{
    margin-bottom: 0 !important;
    background-color: #1976D2;
    border-bottom: 0;
}
.navbar-brand-custom{
    font-family: 'Roboto', sans-serif !important;
    color: #FFFFFF !important;
}

.navbar-nav > li > a{
    font-family: 'Roboto', sans-serif !important;
    color: #FFFFFF !important;
}
.navbar-nav > .open > a:focus{
    background-color: #2196F3 !important;
}
header{
    font-family: 'Roboto', sans-serif !important;
    font-size:24px;
    padding-top:50px;
    padding-bottom: 50px;
    text-align: left;
    background-color: #2196F3;
    color:#FFFFFF;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
}
.panel-primary-color{
    background-color: #2196F3;
}
.panel-light-color{
    background-color: #BBDEFB;
}
.panel-orange{
    border-color: #E63E09;
}
.panel-orange > .panel-heading{
    color: #ffffff;
    border-color: #E63E09;
    background-color: #FF5722;
}
