.pay-period-container{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #BBDEFB;
}
.pay-container{

}

.panel-technician-pending-pay{
    border-color: #5C5C5C;
}
.panel-technician-pending-pay > .panel-heading{
    color: #FFFFFF;
    border-color: #5C5C5C;
    background-color: #757575;
}

.daily-sales-table  td{
   width:100px;
}
.subtotal-table th{
    width: 100px;
}
.subtotal-table td{
    width: 100px;
}
.panel-green{

    border: 2px solid #067157 ;
}
.panel-green > .panel-heading{
    color: #FFFFFF;
    border-color: #067157;
    background-color: #1F8A70;
}
.panel-charcoal{
    border-color: #5C5C5C;
}
.panel-charcoal > .panel-heading{
    color: #FFFFFF;
    border-color: #5C5C5C;
    background-color: #757575;
}