.pay-period-row{
    margin-top: 40px;
}
.sale-container-row{
    margin-top: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
}
.sale-container-row > [class*="col-"] {
    display: flex;
    flex-direction: column;
}
.panel{
    flex: 1 0 100%;
}
.sales-breakdown-table > tbody > tr > th{
    width: 240px;

}
