.top-alert .alert{
    margin-bottom: 0px;
}
.pay-period-container{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #BBDEFB;
}
.sale-container-row{
    margin-top: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
}
.sale-container-row > [class*="col-"] {
    display: flex;
    flex-direction: column;
    margin-top:10px;
}
.panel{
    flex: 1 0 100%;
    margin-top: 5px;
}
.sales-listing-table > tbody > tr td{
    width: 115px;
}
.sales-breakdown-table > tbody > tr > th{
    width: 115px;

}
.sales-breakdown-table > tbody > tr > td{
    width: 115px;
}
.panel-green{

    border: 2px solid #067157 ;
}
.panel-green > .panel-heading{
    color: #FFFFFF;
    border-color: #067157;
    background-color: #1F8A70;
}
.panel-charcoal{
    border-color: #5C5C5C;
}
.panel-charcoal > .panel-heading{
    color: #FFFFFF;
    border-color: #5C5C5C;
    background-color: #757575;
}