.pay-period-container{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #BBDEFB;
}
.btn-nav-pay{
    border-color: #FF5722;
    background-color: #FF5722;
}
.technician-list-container{
    margin-top: 25px;
}